<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <%- include('./partials/style') %>
        <%- include('../styles/main') %>
    </head>
    <body>
        <div class="m-b-xs">
            <span class="bold" style="font-size: 16px;">CONTAS A RECEBER</span>
        </div>
        <div>
            <table class="table-header">
                <tr>
                    <td>
                        <div>
                            <p class="text m-b-sm">Total do Período</p>
                            <p class="text-value">R$ 2.500,00</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="text m-b-sm">Em aberto</p>
                            <p class="text-value">6</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="text m-b-sm">Atrasadas</p>
                            <p class="text-value">4</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="text m-b-sm">Sem Boleto</p>
                            <p class="text-value">2</p>
                        </div>
                    </td>
                </tr>
            </table>
            <hr class="p-b-xs" style="border: none; border-top: 1px solid #E5E5E5; padding-top: 20px;" />
            <table class="table-dataset nowrap">
                <thead>
                    <tr>
                        <th class="left">Status</th>
                        <th class="left">Cliente</th>
                        <th>Vencimento</th>
                        <th class="right">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <% (items || []).forEach(item => { %>
                        <tr class="<%- (({atrasado: 'danger', pago: 'weak'})?.[item?.status?.toLowerCase()] || '') %>">
                            <td class="left uppercase bold"><%= item.status %></td>
                            <td class="left" style="color: #171717;"><%= item.cliente %></td>
                            <td class="center"><%= item.vencimento %></td>
                            <td class="right medium"><%= item.valor %></td>
                        </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="left">TOTAL</td>
                        <td class="left">—</td>
                        <td class="center">—</td>
                        <td class="right"><%= total_geral %></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
</html>
